 
 header {
     background-color: #140132;
     height: 70px;


     .header-item {
        display: flex;
        align-items: center; 
        justify-content: left;
        padding-top: 15px;
        padding-left: 30px;
      }
      
     
 }

  
