.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 50px;

  
  .sidebar {
        width: 250px;
        height: 100%;
        padding: 20px;
        background-color: #fffdfd;
        border-right: 1px solid #ccc;
        overflow-y: auto;
        p{
            margin-top:20px;
            font-weight: 700;
        }
        ul{
            margin:0;
            padding: 0;
            list-style-type: none;
        }
        .actual-list{
            li{
                padding-left: 10px;
                width: 100px;
                margin-top: 5px;
                border: 1px solid black;
                border-radius: 10px;
                cursor: pointer;

                &:hover{
                    background-color: #ebebeb;
                }
            }
           
        }
    
        img{
            width: 15px;
            height: 15px;
        }
      
        button{
            margin-top:20px;
            background-color: #7156fb;
            color: #ffffff;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
          }
          
          button:hover {
            background-color: #ffffff;
            color: #7156fb;
            border: 1px solid black;
            border-radius: 10px;
          }
      
      
  }
  
  .content {
        height: calc(100vh - 70px); /* 70px - высота шапки */
        overflow: auto;
        padding-top: 40px;
      
    .media-list {
        display: flex;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        -webkit-overflow-scrolling: touch;
        flex-direction: column;
        //height: 100vh;
      }
      
      .media-item {
        width: 300px;
        margin: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 1; /* default z-index */

        &:hover{

        }
      }
      
      .post {
        //margin-top:20px;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      
      .post-header {
        display: flex;
        align-items: center;
        padding: 10px;
      }
      
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      
      .username {
        font-weight: bold;
      }
      
      .post-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
      }
      
      .description {
        margin: 0;
      }
      
      .thumbnail {
        width: auto;
        height: 540px;
        margin-top: auto;
        border-radius: 5px;
      }
      
      .post-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
      
      .likes,
      .views {
        display: flex;
        align-items: center;
      }
      
      .count {
        margin-left: 5px;
      }
      
  }


}